server {
    listen       80 default_server;
    server_name  _;

    root   /usr/share/nginx/html;
    index  index.html;

    server_tokens off;

    location / {
        try_files $uri $uri/ =404;
    }

    location = /healthz {
        access_log off;
        add_header Content-Type text/plain;
        return 200 "ok\n";
    }

    # Endpoint scrap par nginx-prometheus-exporter
    # Accessible uniquement depuis le reseau Docker interne
    location = /stub_status {
        stub_status on;
        access_log off;
        allow 172.28.0.0/24;
        deny all;
    }
}
